@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300;1,900&display=swap');
/* Roboto font(400 and 900) */
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header {
    background-color: #1F2937;
    color: #ffffff;
    max-width: 100%;
    text-align: center;
    padding: 0 10% 0 10%;
    margin: auto;
}
.container {
    width: 95%;
    border: 2px solid black;
    margin: 0 auto;
}

.logo {
    float: left;
    font-size: 24px;
    color: #F9FAF8;
}
.main-nav {
    margin: 0;
    padding: 0;
}
.main-nav li {
    display: inline-block;
    padding: 10px 20px 10px 20px;
}
.main-nav li:nth-child(2) {
    /* margin-left: 10%; */
}
.main-nav a {
    color: #E5E7EB;
    text-decoration: none;
}
.hero {
    /* display: inline-block; */
    /* width: 95%; */
    /* padding-bottom: 90px; */
}
.hero-txt {
    max-width: 45%;
    display: inline-block;
    text-align: left;
    padding-right: 40px;
}
.hero-img {
    max-width: 45%;
    display: inline-block;
    vertical-align: top;
}
.hero-btn {
    padding: 12px 26px 12px 26px;
    border-radius: 10px;
    border-style: none;
    color: white;
    background-color: #3882f6;
}
.site-info {
    text-align: center;
}
.site-info article {
    display: inline-block;
    max-width: 20%;

}
.site-info img {
    width: 50%;
    height: 100px;
    border: 2px solid blue;
    border-radius: 15%;
}
.site-info p {
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
}
.testimonials {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 400;
    font-style: italic;
    max-width: 75%;
    margin: 120px auto;
    padding: 80px 50px 80px 50px;
}
.author {
    color: black;
    font-style: normal;
    text-align: right;
}
.call-to-action {
    width: 55%;
    background-color:#3882f6;
    color: white;
    margin: 120px auto;
    padding: 40px 100px 40px 100px;
    border-radius: 15px;
}
.cta-txt {
    width: 70%;
    display: inline-block;
}
.cta-btn {
    float: right;
    vertical-align: middle;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    padding: 8px 25px;
    color: white;

}
.cta-btn-container {
    display: inline-block;
    vertical-align: middle;
}
footer {
    background-color: #1f2937;
    color: white;
    width: 75%;
    margin: 0 auto;
    padding: 5px 50px;
    text-align: center;
}
