@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300;1,900&display=swap');
/* Roboto font(400 and 900) */
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header {
    background-color: #1F2937;
    color: #ffffff;
    max-width: 100%;
    text-align: center;
    padding: 0 10% 0 10%;
    margin: auto;
}

.logo {
    float: left;
    font-size: 24px;
    color: #F9FAF8;
}
.main-nav {
    margin: 0;
    padding: 0;
}
.main-nav li {
    display: inline-block;
    padding: 10px 20px 10px 20px;
}
.main-nav li:nth-child(2) {
    margin-left: 10%;
}
.main-nav a {
    color: #E5E7EB;
    text-decoration: none;
}
.hero {
    display: inline-block;
    width: 95%;
    background-color: gray;
}
.hero-txt {
    max-width: 40%;
    background-color: blueviolet;
    display: inline-block;
}
.hero-img {
    background-color: rgb(65, 43, 43);
    max-width: 40%;
    height: auto;
    display: inline-block;
}
